{% extends "base.html" %}

{% block content %}
    <h1>Tags
        <a class="btn btn-primary" role="button" style="float: right" href="{% url "todo_list_app:tags_create" %}">Add</a>
    </h1>
    <br>
    {% if tags %}
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for tag in tags %}
                <tr>
                    <td>
                        {{ tag.name }}
                    </td>
                    <td>
                        <a class="btn btn-secondary" role="button" href="{% url "todo_list_app:tags_update" tag.id %}">Update</a>
                    </td>
                    <td>
                        <a class="btn btn-secondary" role="button" href="{% url "todo_list_app:tags_delete" tag.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No tags</p>
    {% endif %}
{% endblock %}
